.rs-modal {
    display: none;
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,.40);
    z-index: 5000;
}

.rs-modal.show {
    display: flex;
    align-items: center;
    justify-content: center;
}

.rs-modal-content {
    width: 500px;
    max-width: 90%;
    background: white;
    border-radius: 8px;
    padding: 20px;
}